name: Publish to pypi.org

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    runs-on: ubuntu-x64
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.12
      - name: Install pip build
        run: pip install build
      - name: Build wheel and sdist
        run: python -m build --sdist --wheel
      - name: Upload dist as workflow artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dist
          path: dist/*
      - name: Create GitHub release and upload release assets
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish:
    needs: release
    runs-on: ubuntu-x64
    permissions:
      id-token: write
    steps:
      - name: Download dist artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: dist
          path: dist
      - uses: grafana/shared-workflows/actions/get-vault-secrets@c2f1df59dba624b3fd509e5181aa8da5217120c0
        with:
          vault_instance: dev
          # Secrets placed in the ci/repo/grafana/otel-profiling-python/ path in Vault
          repo_secrets: |
            PYPI_API_TOKEN=publishing:pypi_api_key
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          user: __token__
          password: ${{ env.PYPI_API_TOKEN }}
